<div class="profile">
    <header>
        <section>
            <img src="{{ user.avatar }}">
            <div>
                <ul>
                    <li><span>XX</span>Publicaciones</li>
                    <li><span>XX</span>Wishlist</li>
                    <li><span>XX</span>Followers</li>
                </ul>
                <a class="button" href="#updateprofile">Edit profile</a>
            </div>
        </section>
        <h2>{{user.name}}</h2>
        <div>
            <p>{{ user.description }}</p>
        </div>
    </header>
    <div id="updateprofile" class="update-profile">
        <form action="/profile" method="post" enctype="multipart/form-data">
        <a href="#">x</a>
            <label for="avatar-input">Change avatar</label>
            <input type="file" id="avatar-input" name="avatar">
            <label>Username</label>
            <input type="text" name="name" placeholder="Name" value="{{ user.name }}">
            <label>Email</label>
            <input disabled type="text" name="email" value="{{ user.email }}">
            <label>Description</label>
            <textarea name="description" placeholder="Description">{{ user.description }}</textarea>
            <label>Password</label>
            <input type="password" name="password" placeholder="Password">
            <label>Repeat password</label>
            <input type="password" name="passwordMatch" placeholder="Repeat Password">
            <label >Location: add your location to find sales near you!</label>
            <input id="places-input" placeholder="Set your address" type="text" autocomplete="on" />
            <!--The div element for the map -->
            <div id="map"></div>
            <input id="lat-input" type="hidden" name="latitude" />
            <input id="lng-input" type="hidden" name="longitude" />
            <button type="submit">Update info</button>
            {{formError errors.name }}
            {{formError errors.password }}
            {{formError errors.passwordMatch }}
        </form>
    </div>
    <hr>
    {{#if user}}
        <div class="product-grid">
        {{#each user.wishlist as |product|}}
            <div class="product">
            <a href="/products/{{product.id}}">
                <img class="product-img" src="{{ product.image }}" alt="{{ product.name }}">
                <div class="product-info">
                <p class="product-cat">{{ product.category }}</p>
                <h2>{{ product.name }}</h2>
                <p class="price">{{ product.price }} €</p>
                </div>
            </a>
            <form class="add-to-wishlist" action="/add-to-wishlist/{{product.id}}" method="POST">
                <button type="submit" class="btn btn-danger"><i class="fa fa-heart-o"></i></button>
            </form>
            </div>
        {{/each}}
        </div>
    {{/if}}
</div>
