<div class="login-content">
  <div class="login-background">
    <h1 style="font-size:60px;">Welcome to Module2</h1>
    <p>Discover the best offers of the product you are looking for, and if you want, share the offers you have seen.</p>
  </div>
  <div>
    <h2>Sign In</h2>
    <form action="/register" method="post" class="login-form">
      <input type="text" name="name" placeholder="Your name" value="{{ user.name }}">
      <input type="text" name="email" placeholder="user@example.org" value="{{ user.email }}">
      <input type="password" name="password" placeholder="Password">
      <button type="submit">Continue</button>
    </form>
    <p class="or">or</p>
    <a class="btn btn-block login-with-google" href="/authenticate/google"><i class="fa fa-google"></i> Login with Google</a>
    {{formError errors.name}}
    {{formError errors.email}}
    {{formError errors.password}}
    <hr>
    <a href="/login">Are you registered?</a>
  </div>
</div>