<div class="row">
  <div class="col-12 col-sm-4 mx-auto">
    <form action="/register" method="post" class="mt-3 mb-3">
      <div class="input-group mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
        </div>
        <input type="text" class="form-control {{isInvalid errors.name }}" name="name" placeholder="Name" value="{{ user.name }}">
        {{formError errors.name }}
      </div>
      <div class="input-group mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
        </div>
        <input type="text" class="form-control {{isInvalid errors.email }}" name="email" placeholder="user@example.org" value="{{ user.email }}">
        {{formError errors.email }}
      </div>
      <div class="input-group mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></span>
        </div>
        <input type="password" class="form-control {{isInvalid errors.password }}" name="password" placeholder="Password" >
        {{formError errors.password }}
      </div>
    
      <button type="submit" class="btn btn-primary btn-block mt-1">Register</button>
    </form>
    <hr>
    <a class="btn btn-primary btn-block" href="/login">Login</a>
  </div>
</div>

