<section>
  <h1>Edit bid</h1>
  
  <hr class="mt-0" />

  <div id="updateprofile" class="update-profile">
    <form action="/">

    </form>
  </div>

  <form action="/bids/{{post.id}}/edit" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="title">Title</label>
      <input name="title" type="text" class="form-control {{isInvalid errors.title}}" id="title" placeholder="Enter title" value="{{ bid.title }}">
      {{formError errors.title}}
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      <input name="image" type="file" class="form-control {{isInvalid errors.image}}" id="image" placeholder="Enter image" value="{{ bid.image }}">
      {{formError errors.image}}
    </div>

    <div class="form-group">
      <label for="text">Description</label>
      <textarea name="text" type="text" class="form-control {{isInvalid errors.description}}" id="description" placeholder="Enter bid description"
        rows="10">{{ bid.description }}</textarea>
      {{formError errors.description}}
    </div>

    <button type="submit" class="btn btn-primary">Edit Bid</button>
  </form>
</section>
