<section>
  <div class="row">
    <div class="col-12 d-flex justify-content-between align-items-center">
    <h1>Posts list</h1>
    <a class="btn btn-primary" href="/posts/new"><i class="fa fa-plus"></i></a>
    </div>
  </div>

  <hr class="mt-0"/>

  {{#if posts}}
    <div class="card-columns">
      {{#each posts as |post| }}
        <div class="card mb-3">
          <img class="card-img-top" src="{{ post.image }}" alt="{{ post.title }}">
          <div class="card-body">
            <h5 class="card-title">
              <a href="/posts/{{post.id}}">{{ post.title }}</a>
            </h5>
        
            <p class="card-text">{{#limitChars 100}}{{ post.text }}{{/limitChars}}</p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <a class="btn btn-primary" href="/posts/{{ post.id }}/edit"><i class="fa fa-edit"></i></a>
            <form action="/posts/{{post.id}}/delete" method="POST">
              <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
            </form>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
  
</section>
