<section>
  <div class="row">
    <div class="col-12 d-flex justify-content-between align-items-center">
    <h1>Bid list</h1>
    <a class="btn btn-primary" href="/bids/new"><i class="fa fa-plus"></i></a>
    </div>
  </div>

  <hr class="mt-0"/>

  {{#if bids}}
    <div class="card-columns">
      {{#each bids as |bid| }}
        <div class="card mb-3">
          <img class="card-img-top" src="{{ bid.image }}" alt="{{ bid.title }}">
          <div class="card-body">
            <h5 class="card-title">
              <a href="/bids/{{bid.id}}">{{ bid.title }}</a>
            </h5>
            <h6 class="card-title">
              Author: {{bid.author}}
            </h6>
            <p class="card-text">{{#limitChars 100}}{{ bid.description }}{{/limitChars}}</p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <a class="btn btn-primary" href="/bids/{{ bid.id }}/edit"><i class="fa fa-edit"></i></a>
            <form action="/bids/{{bid.id}}/delete" method="POST">
              <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
            </form>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
  
</section>
