<section class="product-title">
  {{!-- TO DO: Cambiar el nombre del titulo cuando se filtra por categoria --}}
  <h1>Bid listing</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
</section>

<section class="bids-content">
  {{!-- <div class="filters">
    <form method="GET" action="/bids">
      <label class="title" for="distance">Bid distance: </label><br>
      <input class="form-range" type="range" max="1000000" min="0" step="1000" name="distance"><br>
      <hr>
      <label class="title">Search</label>
      <input type="text" name="name" placeholder="Product name">
      <hr>      
      <button type="submit">Submit</button>
    </form>
  </div> --}}
  {{#if bids}}
    <div class="bid-grid">
      {{#each bids as |bid| }}
        <div class="bid">
          <div class="bid-header">
            <h2>{{ bid.title }}</h2>
            <small>From: {{ bid.author }}</small>
          </div>
          <img class="card-img-top" src="{{ bid.image }}" alt="{{ bid.title }}">
          <div class="bid-info">
            <p class="bid-desc">{{#limitChars 100}}{{ bid.description }}{{/limitChars}}</p>
            <small>{{ bid.distanceFromMe }} km from you</small>
          </div>
          <div class="rip"></div>
          <div class="bid-footer">
            <a href="/bids/{{bid.id}}">Take the bid</a>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</section>
