<section class="mb-3">
  <h1>Post detail</h1>
  
  <hr class="mt-0" />

  <div class="card">
    <img class="card-img-top" src="{{post.image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.text}}</p>

      <div class="d-flex">
        <a class="btn btn-primary mr-3" href="/posts/{{post.id}}/edit"><i class="fa fa-cog mr-2"></i>Edit</a>
        
        <form action="/posts/{{post.id}}/delete" method="POST">
          <button type="submit" class="btn btn-danger"><i class="fa fa-trash mr-2"></i>Delete</button>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="mt-4">
  <h3>Comments</h3>
  
  {{#each post.comments as |comment| }}
    {{#with comment}}
      <div class="card mb-2">
        <h5 class="card-header">{{ title }}</h5>
        <div class="card-body">
          <p class="card-text">{{ message }}</p>
        </div>
      </div>
    {{/with}}
  {{/each}}

  <form action="/posts/{{ post.id }}/comments" method="post" class="mt-3 mb-3">
    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-tag" aria-hidden="true"></i></span>
      </div>
      <input type="text" class="form-control {{#if errors.title }}is-invalid{{/if}}" name="title" placeholder="Title">
      {{#if errors.title }}
      <div class="invalid-feedback">
        {{ errors.title }}
      </div>
      {{/if}}
    </div>
    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-comment-o" aria-hidden="true"></i></span>
      </div>
      <textarea name="message" class="form-control {{#if errors.message }}is-invalid{{/if}}" rows="3"></textarea>
      {{#if errors.message }}
      <div class="invalid-feedback">
        {{ errors.message }}
      </div>
      {{/if}}
    </div>
  
    <button type="submit" class="btn btn-primary mt-1">Create comment</button>
  </form>

</section>
