<section class="product-detail">
  <div>
    <img src="{{product.image}}">
  </div>
  <div>
    <h1>{{product.name}}</h1>
    <span>{{product.price}}</span>
    <p>{{product.description}}</p>
    <form class="add-to-wishlist" action="/add-to-wishlist/{{product.id}}" method="POST">
        <button type="submit" class="btn btn-danger"><i class="fa fa-heart-o"></i></button>
    </form>
    <a class="btn btn-primary mr-3" href="/products/{{product.id}}/edit"><i class="fa fa-cog mr-2"></i>Edit</a>
        
        <form action="/products/{{product.id}}/delete" method="POST">
          <button type="submit" class="btn btn-danger"><i class="fa fa-trash mr-2"></i>Delete</button>
        </form>
  </div>
</section>
