<section>
  <h1>Edit product</h1>
  
  <hr class="mt-0" />

  <form action="/products/{{product.id}}/edit" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input name="name" type="text" class="form-control " id="name" placeholder="Enter title" value="{{ product.name }}">
      {{formError errors.name}}
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      <input name="image" type="text" class="form-control " id="image" placeholder="Enter image" value="{{ product.image }}">
      {{formError errors.image}}
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description" type="text" class="form-control " id="description" placeholder="Enter product text"
        rows="10">{{ product.description }}</textarea>
      {{formError errors.description}}
    </div>

        <div class="form-group">
      <label for="price">Price</label>
      <input name="price" type="text" class="form-control " id="price" placeholder="Enter price" value="{{ product.price }}">
    </div>

    <div class="form-group">
      <label for="web">Web</label>
      <input name="web" type="text" class="form-control " id="web" placeholder="Enter website" value="{{ product.web }}">      
    </div>

    <div class="form-group">
      <label for="category">Category</label>
        <select name="category" id="category" >
            <option value="Mobile">Mobile</option>
            <option value="Clothes">Clothes</option>
            <option value="Home">Home</option>
            <option value="Tools">Tools</option>
            <option value="Videogames">Videogames</option>
            <option value="Other">Other</option>
        </select>
        {{formError errors.category}}
    </div>

    <div class="form-group">
      <label for="brand">Brand</label>
      <input name="brand" type="text" class="form-control " id="brand" placeholder="Enter brand" value="{{ product.brand }}">
      {{formError errors.brand}}
    </div>

    <button type="submit" class="btn btn-primary">Edit product</button>
  </form>
</section>
