<section class="product-title">
  {{!-- TO DO: Cambiar el nombre del titulo cuando se filtra por categoria --}}
  <h1>Product listing</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
</section>

<section class="product-content">
  <div class="filters">
    <form method="GET" action="/products">
      <label class="title">Search</label>
      <input type="text" name="name" placeholder="Product name">
      <hr>
      <label class="title">Categories</label><br>
      <input type="checkbox" id="cat1" name="category" value="Clothes">
      <label for="cat1">Clothes</label><br>
      <input type="checkbox" id="cat2" name="category" value="Mobile">
      <label for="cat2">Mobile</label><br>
      <input type="checkbox" id="cat2" name="category" value="Home">
      <label for="cat2">Home</label><br>
      <input type="checkbox" id="cat2" name="category" value="Tools">
      <label for="cat2">Tools</label><br>
      <input type="checkbox" id="cat2" name="category" value="Videogame">
      <label for="cat2">Videogames</label><br>
      <input type="checkbox" id="cat2" name="category" value="Other">
      <label for="cat2">Other</label><br>
      
      <button type="submit">Submit</button>
    </form>
  </div>
  <div>
    {{#if products}}
    <div class="product-grid">
      {{#each products as |product|}}
      <div class="product">
        <a href="/products/{{product.id}}">
          <img class="product-img" src="{{ product.image }}" alt="{{ product.name }}">
          <div class="product-info">
            <p class="product-cat">{{ product.category }}</p>
            <h2>{{ product.name }}</h2>
            <p class="price">{{ product.price }} €</p>
          </div>
        </a>
        <form class="add-to-wishlist" action="/add-to-wishlist/{{product.id}}" method="POST">
            <button type="submit" class="btn btn-danger"><i class="fa fa-heart-o"></i></button>
        </form>
      </div>
      {{/each}}
    </div>
    {{/if}}
    <div class="product-pagination">
      <a href="?page={{previousPage}}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
      <p style="text-align: center;">Page: {{currentPage}}</p>
      <a href="?page={{nextPage}}" style="text-align: right;"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
  </div>
</section>


