<section class="product-title">
  {{!-- TO DO: Cambiar el nombre del titulo cuando se filtra por categoria --}}
  <h1>All Products</h1>
  <a class="btn btn-primary" href="/products/new"><i class="fa fa-plus"></i></a>
</section>

<section class="product-content">
  <div class="filters">
    <form>
      <input type="search">
    </form>
  </div>
  {{#if products}}
  <div class="product-grid">
    {{#each products as |product|}}
    <div class="product">
      <a href="/products/{{product.id}}">
        <img class="product-img" src="{{ product.image }}" alt="{{ product.name }}">
        <div class="product-info">
          <p class="product-cat">{{ product.category }}</p>
          <h2>{{ product.name }}</h2>
          <p class="price">{{ product.price }} €</p>
        </div>
      </a>
      <form class="add-to-wishlist" action="/add-to-wishlist/{{product.id}}" method="POST">
          <button type="submit" class="btn btn-danger"><i class="fa fa-heart-o"></i></button>
      </form>
    </div>
    {{/each}}
  </div>
  {{/if}}
</section>

